<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">데이터 구조(Data Structure)</p>

데이터 구조(Data Structure) 혹은 자료구조란 데이터에 효율적인 접근 및 수정을 가능케 하는 데이터의 구성, 관리 및 저장형식을 의미합니다.

보다 정확하게는 데이터 값들, 해당 값들의 관계, 그리고 해당 데이터들에게 적용할 수 있는 함수와 명령어들의 모음을 총칭하는 단어입니다.


**<데이터의 분류>**
- 순서가 있는 데이터 구조(Orderd)
    - 문자열
    - 리스트
    - 튜플
- 순서가 없는 데이터 구조(Unorderd)
    - 셋(Set)
    - 딕셔너리(Dictionary)


<img src="https://user-images.githubusercontent.com/90173310/148184923-9b2910aa-a08c-4027-9315-b8d866819a6c.png" alt="drawing" width="700"/>

---

<p style="font-size: 30px; font-weight: 700; margin-bottom: 3rem; color:#2889CC">순서가 있는 데이터 구조</p>

# 문자열(String)

> 변경할 수 없고(immutable), 순서가 있고(ordered), 순회 가능한(iterable)

참고 : [문자열의 다양한 조작법(method)](https://docs.python.org/ko/3/library/stdtypes.html#string-methods)

## 조회/탐색

### `.find(x)` 

x의 **첫 번째 위치**를 반환합니다. 만일 리스트 내에 x가 없으면, `-1`을 반환합니다.

In [2]:
a = 'apple'

In [3]:
# find 메서드로 a 문자열에 'p'가 있는지 찾아봅시다.

a.find('p')

1

In [4]:
# find 메서드로 a 문자열에 'z'가 있는지 찾아봅시다.

a.find('z')

-1

### `.index(x)`

x의 **첫 번째 위치**를 반환합니다. 만일 x가 리스트 내에 없으면, 오류가 발생합니다.

In [ ]:
a = 'apple'

In [5]:
# index 메서드는 찾고자 하는 문자가 문자열 내에 있을 경우, 첫 번째 위치를 반환합니다.
# index 메서드로 a 문자열에서 'p'의 위치를 확인해봅시다.

a.index('p')

1

In [6]:
# 찾고자 하는 문자가 문자열 내에 없을 경우, 오류가 발생합니다.
# index 메서드로 a문자열에서 'z'의 위치를 찾고, 오류를 확인해봅시다.

a.index('z')

ValueError: substring not found

### `.startswith(x)`, `/.endswith(x)`

- `.startswith(x)` : 문자열이 x로 시작하면 True를 반환하고 아니면 False를 반환합니다.
- `.endswith(x)` : 문자열이 x로 끝나면 True를 반환하고 아니면 False를 반환합니다.

[PEP8 파이썬 스타일 가이드](https://www.python.org/dev/peps/pep-0008/)에서는 접두/접미 문자를 검색 시,
화이트 스페이스나 인코딩 문제를 피하기 위해 문자열 분할보다 **startswith, endswith**를 권장합니다.

```
Use ''.startswith() and ''.endswith() instead of string slicing to check for prefixes or suffixes.

startswith() and endswith() are cleaner and less error prone:

# Correct:
if foo.startswith('bar'):
# Wrong:
if foo[:3] == 'bar':
```

In [ ]:
a = 'hello python!'

In [7]:
# startwith 메서드를 통해 접두문자가 'hello'인지 확인해봅시다.
a.startswith('hello')

False

### 기타 문자열 관련 검증 메서드

`is~` 로 시작하는 많은 메서드들은 문자열이 어떠한 조건에 해당하는지 검증하는 역할을 합니다.

- `.isalpha()` : 문자열이 (숫자가 아닌)글자로 이루어져 있는가?
-  `.isspace()` : 문자열이 공백으로 이루어져 있는가?
-  `.isupper()` : 문자열이 대문자로 이루어져 있는가?
-  `.istitle()` : 문자열이 타이틀 형식으로 이루어져 있는가?
-  `.islower()` : 문자열이 소문자로 이루어져 있는가?

등

**숫자 판별 메서드**
- `.isdecimal()`: 문자열이 0~9까지의 수로 이루어져 있는가?
- `.isdigit()`: 문자열이 숫자로 이루어져 있는가?
- `.isnumeric()`: 문자열을 수로 볼 수 있는가?


| isdecimal() | isdigit() | isnumeric() |          Example               |
|:-----------:|:-----------:|:-----------:|:----------------------------------:|
|    True     |    True   |    True     | "038", "੦੩੮", "０３８"             |
|  False      |    True   |    True     | "⁰³⁸", "🄀⒊⒏", "⓪③⑧"          |
|  False      |  False    |    True     | "↉⅛⅘", "ⅠⅢⅧ", "⑩⑬㊿", "壹貳參"   |
|  False      |  False    |  False      | "abc", "38.0", "-38"             |

In [9]:
a = '    n'
b = '\n \t '

In [14]:
# isspace 메서드를 통해 a, b가 공백으로 이루어져 있는지 확인해봅시다.

print(a.isspace())
print(b.isspace())

False
True

In [16]:
a = '파이썬'
b = 'python'
c = 'python 3.9.9'

In [17]:
# isalpha 메서드를 통해 문자열 a, b, c에 대한 알파벳 여부를 확인해봅시다.

print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

True
True
False

## 문자열 변경

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다.

count를 지정하면 해당 갯수만큼만 시행합니다.

> **(참고)** 메서드 설명에서 `[]` 표기는 해당 parameter가 선택적임을 나타냅니다.

In [21]:
a = 'yaya!'
b = 'wooooowoo'

In [20]:
# replace 메서드를 통해 a의 글자 y를 h로 변경해봅시다.

a.replace('y','h')
print(a)

yaya!

In [24]:
# replace 메서드를 통해 b의 글자 o 2개를 _로 변경해봅시다.

print(b.replace('o','_', 2))

w__ooowoo

### `.strip([chars])`

`.strip([chars])`은 특정한 문자들을 지정하면 문자열의 모든 조합을 제거합니다. 인자가 없을 경우 공백을 제거합니다.

`.lstrip([chars])`은 특정한 문자들을 지정하면 문자열의 왼쪽으로 모든 조합을 제거합니다. 인자가 없을 경우 왼쪽 공백을 제거합니다.

`.rstrip([chars])`은 특정한 문자들을 지정하면 문자열의 오른쪽으로 모든 조합을 제거합니다. 인자가 없을 경우 오른쪽 공백을 제거합니다.


`chars` 파라미터를 지정하지 않으면 공백을 제거합니다.

In [29]:
a = '   hello!  \n'
b = 'hihihihahahahihi'
c = 'monty python'

In [26]:
# strip 메서드로 a의 양쪽 공백을 제거해봅시다.

print(a.strip())

hello!

In [27]:
# lstrip 메서드로 a의 왼쪽 공백을 제거해봅시다.

print(a.lstrip())

hello!

In [28]:
# rstrip 메서드로 b의 오른쪽에서부터 글자 hi를 제거해봅시다.

print(b.rstrip('hi'))

hihihihahaha

In [33]:
# `chars` 파라미터를 지정한 경우, 모든 조합을 이용하여 제거합니다.
# rstrip 메서드로 c의 오른쪽에서부터 글자 ' python'을 제거해봅시다.

print(c.rstrip('python'))

monty

### `.split([chars])`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [35]:
a = 'a_b_c'

In [37]:
# split 메서드로 _를 기준으로 문자열을 나누어 리스트로 반환해봅시다.

print(a.split('_'))

['a', 'b', 'c']

In [38]:
# 사용자의 입력값을 받아 i에 저장합니다.
# 입력받은 문자열을 split 메서드로 공백을 기준으로 나누어 리스트로 반환해봅시다.

### `'separator'.join(iterable)`
iterable 의 문자열들을 separator(구분자)로 이어 붙인(`join()`) 문자열을 반환합니다.

다른 메서드들과 달리, <u>**구분자**</u>가 join 메서드를 제공하는 문자열입니다.

In [1]:
word = '배고파'
words = ['안녕', 'hello']

In [2]:
# join 메서드로 word의 문자열 사이에 !를 넣은 결과를 반환해봅시다.

'!'.join(word)

'배!고!파'

In [3]:
# join 메서드로 words의 문자들을 하나로 합친 결과를 반환해봅시다.
''.join(words)

'안녕hello'

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

* `.title()` : 어포스트로피(*'*)나 공백 이후를 대문자로 만들어 반환합니다.

* `.upper()` : 모두 대문자로 만들어 반환합니다.

In [5]:
a = 'hI! Everyone, I\'m kim'

In [6]:
# capitalize 메서드로 a의 앞글자를 대문자로 만들어 반환해봅시다.
a.capitalize()

"Hi! everyone, i'm kim"

In [7]:
# title 메서드로 a의 각각의 단어 앞글자를 대문자로 만들어 반환해봅시다.

a.title()

"Hi! Everyone, I'M Kim"

In [8]:
# upper 메서드로 a를 모두 대문자로 만들어 반환해봅시다.
a.upper()

"HI! EVERYONE, I'M KIM"

In [9]:
# print 함수로 a를 출력하여 원본 데이터를 확인해봅시다.

print(a)

hI! Everyone, I'm kim

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환합니다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'

In [10]:
# lower 메서드로 a을 모두 소문자로 만들어 반환해봅시다.

a.lower()

"hi! everyone, i'm kim"

In [11]:
# swapcase 메서드로 a의 대소문자를 서로 변경하여 반환해봅시다.

a.swapcase()

"Hi! eVERYONE, i'M KIM"

In [12]:
# print 함수로 a를 출력하여 원본데이터를 확인해봅시다.

print(a)

hI! Everyone, I'm kim

## 문자열 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [13]:
# dir 함수로 문자열이 가지고 있는 메서드를 확인할 수 있습니다.
dir('string') # dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

---

# 리스트(List)

> 변경 가능하고(mutable), 순서가 있고(ordered), 순회 가능한(iterable)

![image](https://user-images.githubusercontent.com/90173310/148152798-e42f9525-2eef-4bf7-bf0b-6031a0913693.png)

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

`a[len(a):] = [x]` 와 동일합니다.

In [24]:
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [25]:
# append 메서드로 cafe에 banapresso를 추가해봅시다.

cafe.append('banapresso')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [26]:
# insert 메서드로 cafe 첫번째에 문자열 start를 넣어봅시다.

cafe.insert(0,'start')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso']

In [27]:
# insert 메서드로 cafe 마지막에 문자열 end를 넣어봅시다.
# 마지막 위치는 len함수를 이용합니다.

cafe.insert(len(cafe),'end')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end']

In [36]:
# insert 메서드로 cafe 길이보다 큰 인덱스에 문자열 !를 넣어봅시다.
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

cafe.insert(100, "!")
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end', 'wcafe', '!', '!', '빽다방', 'mc_cafe', 'droptop', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', '!']

In [ ]:
# a.insert(0, x)는 리스트의 처음에 x를 삽입하고,
# a.insert(len(a), x) 는 a.append(x) 와 같습니다.

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string) 값을 붙일 수가 있습니다.

`a[len(a):] = iterable` 와 동일합니다.

In [28]:
# extend 메서드로 cafe에 ['wcafe', '빽다방']를 추가해봅시다.

cafe.extend(['wcafe', '빽다방'])
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end', 'wcafe', '빽다방']

In [30]:
# += 연산자로 cafe에 ['mc_cafe', 'droptop']를 추가해봅시다.
# 앞서 배운 list concatenate와 동일합니다.

cafe += ['mc_cafe', 'droptop']
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end', 'wcafe', '빽다방', 'mc_cafe', 'droptop', 'mc_cafe', 'droptop']

In [31]:
# append vs extend

# append 메서드로 cafe에 ['coffeenie']를 추가해봅시다.

cafe.append(['coffeenie'])
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end', 'wcafe', '빽다방', 'mc_cafe', 'droptop', 'mc_cafe', 'droptop', ['coffeenie']]

In [32]:
# append vs extend

# extend 메서드로 cafe에 ['twosome_place']를 추가해봅시다.

cafe.extend(['twosome_place'])
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end', 'wcafe', '빽다방', 'mc_cafe', 'droptop', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place']

In [33]:
# extend 메서드로 cafe에 문자열 ediya를 추가해봅시다.

cafe.extend('ediya')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'end', 'wcafe', '빽다방', 'mc_cafe', 'droptop', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a']

### `.remove(x)`

리스트에서 값이 x인 첫번째 항목을 삭제합니다.

만일 그런 항목이 없으면 `ValueError`가 발생합니다.

In [38]:
numbers = [1, 2, 3, 1, 2]

In [39]:
# remove 메서드로 1을 삭제 해봅시다.

numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [40]:
# remove 메서드로 1을 한 번 더 삭제 해봅시다.

numbers.remove(1)
print(numbers)

[2, 3, 2]

In [41]:
# remove는 값이 없으면 오류가 발생합니다.
# remove 메서드로 1을 한 번 더 삭제하여, 확인해봅시다.


numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop([i])`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [42]:
numbers = [1, 2, 3, 4, 5, 6]

In [43]:
# pop 메서드로 가장 앞에 있는 숫자를 삭제해봅시다.
# 삭제후 numbers를 출력해봅시다.

numbers.pop(0)
print(numbers)

[2, 3, 4, 5, 6]

In [44]:
# pop 메서드로 가장 마지막에 있는 숫자를 삭제하고 결과를 a에 저장합니다.
# 삭제된 숫자와 결과를 모두 출력해봅시다.

a = numbers.pop(-1)
print(a)

6

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

In [45]:
# clear 메서드로 리스트의 모든 항목을 삭제합니다.

numbers.clear()
print(numbers)

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [46]:
a = [1, 2, 3, 4, 5]

In [47]:
# index 메서드로 숫자 3이 있는 위치를 반환합니다.

a.index(3)

2

In [48]:
# index는 찾는 값이 없으면 오류가 발생합니다.
# index 메서드로 숫자 100이 있는 위치를 확인해봅시다.

a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 반환합니다.

In [ ]:
a = [1, 2, 5, 1, 5, 1]

In [49]:
# count 메서드로 1의 개수를 확인해봅시다.

a.count(1)

1

In [ ]:
# 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
a = [1, 2, 1, 3, 4]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)
print(a)

### `.sort()`

리스트를 정렬합니다.

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

파라미터로는 `key`와 `reverse`가 있습니다.

In [50]:
# lotto에 1부터 45 까지의 숫자가 들어있는 리스트를 저장합니다.
# 6개의 숫자를 랜덤으로 저장합니다.
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[32, 15, 6, 37, 20, 16]

In [51]:
# sort 메서드로 리스트를 정렬합니다.
# sort 메서드를 실행한 결과와 원본을 각각 출력해봅니다.

print(lotto.sort())
print(lotto)

None
[6, 15, 16, 20, 32, 37]

In [52]:
# sort 메서드의 reverse옵션을 이용하여 역순 정렬합니다.

lotto.sort(reverse= True)
print(lotto)

[37, 32, 20, 16, 15, 6]

In [53]:
# sorted 함수를 사용한 결과와 비교해봅시다.
import random
lotto = random.sample(range(1, 46), 6)
print(lotto, sorted(lotto))

[14, 33, 23, 45, 32, 7] [7, 14, 23, 32, 33, 45]

### `.reverse()`

리스트의 element들을 제자리에서 반대로 뒤집습니다.
정렬하는 것이 아닌 원본 순서를 뒤집고 수정합니다.

내장함수 `reversed()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

sort와 마찬가지로, 파라미터 `key`와 `reverse`가 있습니다.

In [55]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [56]:
# reverse 메서드로 리스트를 역순으로 만들어줍니다.

classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 리스트 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [57]:
# dir 함수로 리스트가 가지고 있는 메서드를 확인할 수 있습니다.
dir(list) # dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

---

# 튜플(tuple)

> 변경할 수 없는 불변(Immutable) 자료형

![image](https://user-images.githubusercontent.com/90173310/148331867-25aba08c-d76b-4bf0-a7d3-106db29d2db2.png)

- 값을 변경할 수 없기 때문에 값에 영향을 미치지 않는 메서드만을 지원합니다.

In [ ]:
# 튜플은 불변자료형이기 때문에 값을 변경하는 메서드는 사용할 수 없습니다.
# append를 통해 'tuple'을 추가하여 어떤 오류가 나타나는지 확인해봅시다.

## 탐색
### `.index(x[, start[, end]])`

튜플에 있는 항목 중 값이 x 와 같은 첫 번째 인덱스를 돌려줍니다.

해당하는 값이 없으면, ValueError를 발생합니다.

In [58]:
a = ('hello','python','python','django','web')

In [59]:
# python이 가장 처음 나타난 위치를 확인하세요.

a.index('python')

1

In [60]:
# index는 찾는 값이 없으면 오류가 발생합니다.
# index 메서드로 algorithm의 위치를 확인하세요.

a.index('algorithm')

ValueError: tuple.index(x): x not in tuple

### `.count(x)`
튜플에서 x 가 등장하는 횟수를 돌려줍니다.

In [61]:
# count 메서드를 통해 a의 요소들 중 python의 갯수를 확인하세요.

a.count('python')

2

---

# 연산자

## 멤버십 연산자 (Membership Operatoe)

요소가 시퀀스에 속해있는지 확인할 수 있습니다.
- `in` 연산자
- `not in` 연산자

In [ ]:
# 리스트안에 특정한 정수가 있는지 확인해봅시다.
# 정수 1 이 [3, 2] 리스트에 속해있는지 확인해봅시다.

In [62]:
1 in [3, 2]

False

In [ ]:
# 튜플안에 특정한 정수가 있는지 확인해봅시다.
# 정수 5가 (1, 2, 'hi') 튜플에 속해있는지 확인해봅시다.

In [63]:
5 in (1, 2, 'hi')

False

In [ ]:
# range안에 특정한 정수가 있는지 확인해봅시다.
# -3이 range(3) 에 속해있는지 확인해봅시다.

In [67]:
-3 in range(3)

False

In [ ]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
# 문자열 'a' 가 'apple' 에 속해있는지 확인해봅시다.

In [69]:
'a' in 'apple'

True

In [ ]:
# 리스트안에 특정한 문자가 없는지 확인해봅시다.
# 문자열 'b' 가 'apple' 에 속해있는지 확인해봅시다.

In [70]:
'b' in 'apple'

False

## 시퀀스형 연산자(Sqeuence Type Operator)

### 산술 연산자 (+)
시퀀스를 연결(concatenation)할 수 있습니다.

In [ ]:
# 두 list [1, 2] 와 ['a'] 를 + 를 이용하여 합쳐봅시다.

In [71]:
[1,2] + ['a']

[1, 2, 'a']

In [ ]:
# 두 튜플 (1, 2) 와 ('a',) 를 + 를 이용하여 합쳐봅시다.

In [72]:
(1,2) + ('a',)

(1, 2, 'a')

In [ ]:
# range에는 사용할 수 없습니다.
# range(1), range(2, 5) 를 + 를 이용하여 합치고자 할 때 발생하는 오류를 확인해 봅시다.

In [73]:
range(1) + range(2, 5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
# 두 문자열 '12' 와 'a' 를 + 를 이용하여 합쳐봅시다.

In [74]:
'12' + 'a'

'12a'

### 반복 연산자 (*)
시퀀스를 반복할 수 있습니다.

In [ ]:
# 리스트 [0] 을 *을 이용해 8번 반복해봅시다.

In [75]:
[0]* 8

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 튜플 (1, 2) 를 * 을 활용해 3번 반복해봅시다.

In [76]:
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [ ]:
# range에는 사용할 수 없습니다.
# range(1) 을 * 연산자로 3번 반복하려고 할 때 발생하는 오류를 확인해 봅시다.

In [77]:
range(1)*3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [ ]:
# 문자열 'hi' 를 * 을 활용해 3번 반복해봅시다.

In [78]:
'hi'*3

'hihihi'